<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>{{index.BlogTitle | Escape}} Archives</title>

  <link rel="stylesheet" href="{{index.BlogUrl}}/styles-site.css" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{index.BlogUrl}}/index.rdf" />
</head>

<body>	

<div id="banner">
  <h1><a href="{{index.BlogUrl}}" accesskey="1">{{index.BlogTitle | Escape}}</a></h1>
  <span class="description">{{index.BlogDescription | Escape}}</span>
</div>
	
<div id="container">
<div class="blog">
<div class="blogbody">
  
{% for entry in index.Entries limit:5 -%}
<a href="{{index.BlogUrl}}{{entry.WebRelativePath}}">{{entry.Title | Escape}}</a> {% if entry.Draft == true -%}(draft){% endif -%}<br />
{% endfor -%}

</div>
</div>
</div>

</body>
</html>